<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Josh's CBC News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/saved">Saved</a>
        </li>
        </ul>
    </div>
    </nav>
    <div class="jumbotron" id="main-page">
    <div class="jumbotron" id="main-page">
        <div class="w-100 h-100 background">
            <h1 class="text-center">Saved Articles</h1>
            <h3 class="text-center">Your Saved Articles</h3>
        </div>
    </div>
    </div>
    <div class="container">
        <ul class="mx-3 p-0">
            {{#if Article}}
                {{#each Article}}
                    {{> article}}
                {{/each}}
            {{else}}
                <div class="alert alert-warning" role="alert">Looks like you don't have any articles saved! Go to the home page to save some articles.</div>
            {{/if}}
        </ul>
    </div>
</div>